<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>What movie to watch? | Generate a random movie!</title>
    <meta name="title" content="What movie to watch? | Generate a random movie!">
    <meta name="description" content="For those times when we can't come up with or agree on a movie to watch, generate a random one! Here you also have easy access to watch the trailer on Youtube and filter the results on year or genre. Get your pick now!">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://whatmovieapp.herokuapp.com">
    <meta property="og:title" content="What movie to watch? | Generate a random movie!">
    <meta property="og:description" content="For those times when we can't come up with or agree on a movie to watch, generate a random one! Here you also have easy access to watch the trailer on Youtube and filter the results on year or genre. Get your pick now!">
    <meta property="og:image" content="https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://whatmovieapp.herokuapp.com">
    <meta property="twitter:title" content="What movie to watch? | Generate a random movie!">
    <meta property="twitter:description" content="For those times when we can't come up with or agree on a movie to watch, generate a random one! Here you also have easy access to watch the trailer on Youtube and filter the results on year or genre. Get your pick now!">
    <meta property="twitter:image" content="https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <meta name="google-site-verification" content="YjJRbJg1TQO77EOucNfoV4K7h7a5f9nII_ul601euqY" />
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <div class="d-flex flex-column min-vh-100">
      <div class="flex-grow-1 min-vh-100 main-content">
        <img class="gradient" src="<%= asset_path('gradient.png') %>"/>
        <%= yield %>
      </div>
      <footer class="d-flex justify-content-center">
        <div class="d-flex flex-column text-center align-items-center">
          <div class="d-flex justify-content-center icons mt-3">
            <p class="mr-3"><a href="https://github.com/sara-woods/rails-find-me-a-movie" target="_blank" rel="noopener noreferrer"><i class="fab fa-github-square"></i></p></a>
            <p><a href="https://www.linkedin.com/in/hellosarawoods/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></p></a>
          </div>

          <p class="mb-1">This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
          <img class="footer-logo mb-2" src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg"/>
        </div>
      </footer>
    </div>
  </body>
</html>
